<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.att.phonegap.plugin.AttPlugin"
    version="1.0.0">

  <name>AttPlugin</name>
  <author>ATT</author>

  <description>
   ATT Plugin
  </description>

  <license>MIT 2.0</license>

  <js-module src="www/att.js" name="att">
      <clobbers target="window.AttPlugin" />
  </js-module>

  <engines>
      <engine name="cordova" version="&gt;=3.0.0" />
  </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
          <feature name="AttPlugin">
            <param name="ios-package" value="ATTPhonegapHelper"/>
          </feature>
        </config-file>

        <source-file src="src/ios/ATTPhonegapHelper.m" />
        <source-file src="src/ios/outputLibrary/libATTiOSPhonegapPlugin.a" framework="true" />

        <header-file src="src/ios/outputLibrary/include/ATTiOSPhonegapPlugin/ATTPluginHTTPRequest.h" />
        <header-file src="src/ios/outputLibrary/include/ATTiOSPhonegapPlugin/ATTiOSPhonegapPlugin.h"/>
        <header-file src="src/ios/outputLibrary/include/ATTiOSPhonegapPlugin/InAppMessagePlugin.h"/>
        <header-file src="src/ios/outputLibrary/include/ATTiOSPhonegapPlugin/MMSPlugin.h" />
        <header-file src="src/ios/outputLibrary/include/ATTiOSPhonegapPlugin/SpeechPlugin.h" />
        <header-file src="src/ios/outputLibrary/include/ATTiOSPhonegapPlugin/TTSPlugin.h" />
        <header-file src="src/ios/ATTPhonegapHelper.h" />
    </platform>
</plugin>